/* ============= colors ============ */
$sidebar_bg_color: #FCFCFC;

$white: #fff;
$black: #000;

$grey: #777;
$grey_555: #555;
$grey_3d3d3d: #3d3d3d;
$grey_2d353c: #2D353C;
$grey_232A2f: #232A2f;
$grey_1a2229: #1a2229;
$grey_f4f4f4: #f4f4f4;
$grey_363636: #363636;
$grey_ececec: #ececec;
$grey_f1f1f1: #f1f1f1;
$grey_dfdfdf: #dfdfdf;

$red: #d9534f;
$red_da4f49: #da4f49;

$green: #5cb85c;
$green_3e8f3e: #3e8f3e;

$blue: #245580;
$blue_0fa2ce: #0fa2ce;
$blue_49afcd: #49afcd;
$blue_006dcc: #006dcc;

$yellow: #faa732;
