<div id="layer-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div class="icon burger open">
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% include "ShuweeAdminBundle:Partial:navbar_brand.html.twig" %}
    </div>
    {% if app.user %}
        <p class="navbar-collapse collapse navbar-text navbar-user navbar-right">
            <span class="hidden-xs">{{ app.user.username }} | </span>
            <a href="{{ logout_path() }}"><i class="glyphicon glyphicon-log-out"></i> {{ 'security.logout.action' | trans({}, 'ShuweeAdminBundle') }}</a>
        </p>
    {% endif %}
</div>