<div id="layer-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div class="icon burger open">
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% include "ShuweeAdminBundle:Partial:navbar_brand.html.twig" %}
    </div>
    <div class="navbar-collapse navbar-ex1-collapse collapse">
        {{ knp_menu_render('ShuweeAdminBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'ShuweeAdminBundle:Menu:knp_menu_navbar.html.twig'}) }}
    </div><!--/.nav-collapse -->
</div>