/* ============= colors ============ */
/* ================================== */
/* ================================== */
/* ================================== */
/* ================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.burger {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 25px;
  margin: 13px 0 0 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 22px;
  -webkit-tap-highlight-color: transparent;
  float: left;
}
.burger span {
  background: #fff;
  border-radius: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 3px;
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  left: 0;
}
.burger span:nth-child(1) {
  top: 5px;
}
.burger span:nth-child(2) {
  top: 12px;
}
.burger span:nth-child(3) {
  top: 19px;
}
.burger.open span {
  height: 4px;
}
.burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(1.1em, 1.1em);
  -ms-transform: rotate(45deg) translate(1.1em, 1.1em);
  transform: rotate(45deg) translate(1.1em, 1.1em);
  top: -4px;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(1.1em, -1.1em);
  -ms-transform: rotate(-45deg) translate(1.1em, -1.1em);
  transform: rotate(-45deg) translate(1.1em, -1.1em);
  top: 27px;
}

.stacktable {
  width: 100%;
}

.st-head-row {
  padding-top: 1em;
}

.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}

.st-key {
  width: 49%;
  text-align: left;
  padding-right: 1%;
}

.st-val {
  width: 49%;
  padding-left: 1%;
}

/* RESPONSIVE EXAMPLE */
.stacktable.large-only {
  display: table;
}

.stacktable.small-only {
  display: none;
}

@media (max-width: 1023px) {
  .stacktable.large-only {
    display: none;
  }

  .stacktable.small-only {
    display: table;
  }
}
#layer-sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ececec;
  height: 100%;
  padding: 20px 0 0 0;
  box-shadow: -20px -22px 31px #000;
  -moz-box-shadow: -20px -22px 31px #000;
  -webkit-box-shadow: -20px -22px 31px #000;
}
#layer-sidebar li {
  color: #333;
}
#layer-sidebar li.active a {
  color: #0fa2ce;
}
#layer-sidebar li span,
#layer-sidebar li a {
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #dfdfdf;
}
#layer-sidebar li span:hover,
#layer-sidebar li a:hover {
  background: #f1f1f1;
  color: #0fa2ce;
}
#layer-sidebar li span:hover:after,
#layer-sidebar li a:hover:after {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#layer-sidebar li span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-top-color: #232A2f;
  vertical-align: middle;
  margin: 6px 0 0 10px;
  float: right;
}
#layer-sidebar li span.js-active:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-top: 0 none;
  border-bottom-color: #232A2f;
  border-top: 0 none;
}
#layer-sidebar li ul {
  display: none;
  background: #f4f4f4;
}
#layer-sidebar li.current_ancestor ul {
  display: block;
}
#layer-sidebar .navbar-collapse {
  display: none !important;
}

.toggle #layer-sidebar {
  width: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 0;
  padding-right: 0;
}
.toggle #layer-content {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1023px) {
  .toggle #page-wrapper #layer-sidebar {
    width: 0;
    left: -50%;
  }

  #page-wrapper {
    position: relative;
  }
  #page-wrapper #layer-sidebar {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100% !important;
  }
  #page-wrapper #layer-content {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  #layer-sidebar .navbar-collapse {
    display: block !important;
    padding: 0;
    margin-top: 50px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
  }
  #layer-sidebar .navbar-collapse .dropdown a {
    padding: 10px;
    font-weight: bold;
  }
  #layer-sidebar .navbar-collapse .dropdown .caret {
    float: right;
    border-top-color: #232A2f;
    margin-top: 6px;
  }
  #layer-sidebar .navbar-collapse .dropdown.open .caret {
    border-bottom-color: #232A2f;
  }
  #layer-sidebar .navbar-collapse .dropdown.open .dropdown-menu {
    display: block;
  }
}
@media (max-width: 480px) {
  #page-wrapper #layer-sidebar {
    width: 100%;
  }
}
#layer-navbar {
  background: #555;
  color: #fff;
  border-color: transparent;
  box-shadow: 0 -3px 24px #000;
  -moz-box-shadow: 0 -3px 24px #000;
  -webkit-box-shadow: 0 -3px 24px #000;
}
#layer-navbar.navbar-default .navbar-brand {
  color: #fff;
}
#layer-navbar.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav .dropdown .caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.navbar-nav .dropdown.open .caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-top: 0 none;
}
.navbar-nav:hover .caret {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

a {
  color: #0fa2ce;
}

#layer-content-body table td {
  vertical-align: middle;
}
#layer-content-body table .label-danger {
  background: none;
  color: #d9534f;
}
#layer-content-body table .label-success {
  background: none;
  color: #5cb85c;
}
#layer-content-body table .btn-primary {
  background: none;
  color: #0fa2ce;
  border: 0 none;
  box-shadow: none;
}
#layer-content-body table .btn-danger {
  background: none;
  color: #d9534f;
  border: 0 none;
  box-shadow: none;
}

/* btn */
.btn-primary {
  background: none;
  color: #006dcc;
}

.btn-info {
  background: none;
  color: #49afcd;
}

.btn-success {
  background: none;
  color: #3e8f3e;
}

.btn-warning {
  background: none;
  color: #faa732;
}

.btn-danger {
  background: none;
  color: #da4f49;
}

.btn-inverse {
  background: none;
  color: #363636;
  border-color: #363636;
}

.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
  text-shadow: none;
}

.navbar-nav.nav .open > a {
  background: none;
}
.navbar-nav.nav .open > a:focus, .navbar-nav.nav .open > a:hover {
  background: none;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: none;
  color: #777;
}

@media (max-width: 480px) {
  .glyphicon-sort {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
