.datagrid {
  td {
    vertical-align: middle;
  }
  .label-danger {
    background: none;
    color: $red;
  }
  .label-success {
    background: none;
    color: $green;
  }
  .btn-primary {
    background: none;
    color: $blue_0fa2ce;
    border: 0 none;
    box-shadow: none;
  }
  .btn-danger {
    background: none;
    color: $red;
    border: 0 none;
    box-shadow: none;
  }
  thead {
    th {
      line-height: 15px;
      a {
        display: block;

        &:hover {
          span {
            opacity: 0.6;
          }
        }

        &.sortable {
          span {
            opacity: 0.2;
          }
        }

        span {
          opacity: 0.4;
          float: right;
          line-height: inherit;
        }
      }
    }
  }
}

.small-only {
  table.datagrid {
    margin-bottom: 0;
    &:not(:first-child) {
      border-top: 2px solid #ccc;
    }
    // reset internal table stripping
    &.table-striped {
      > tbody {
        > tr:nth-of-type(2n+1) {
          background-color: transparent;
        }
      }
    }
    // strip tables instead
    &.table-striped:nth-of-type(2n+1) {
      background-color: #F9F9F9;
    }
  }
}