footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 25px;
  overflow: hidden;
  padding: 5px;
  font-size: 12px;

  a {
    float: right;
    color: #b2b2b4;
  }

  .logo {
    font-weight: bold;
  }
}