@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #E8E8E8;
}

#body-wrapper {
  overflow: hidden;
  padding-top: 51px;
}

a {
  color: $blue_0fa2ce;
}

#layer-content {
}

#layer-content-body {
  margin-top: 25px;
  background: #fff;
}

/* btn */
.btn-primary {
  background: none;
  color: $blue_006dcc;
}

.btn-info {
  background: none;
  color: $blue_49afcd;
}

.btn-success {
  background: none;
  color: $green_3e8f3e;
}

.btn-warning {
  background: none;
  color: $yellow;
}

.btn-danger {
  background: none;
  color: $red_da4f49;
}

.btn-inverse {
  background: none;
  color: $grey_363636;
  border-color: $grey_363636;
}

.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
  text-shadow: none;
}

/* Headers */
h1 {
  border-bottom: 1px dashed #CCCCCC;
}

/* Panels */
.panel {
  border: 1px solid #CCCCCC;
  border-radius: 2px;

  .panel-heading {
    .glyphicon {
      border-right: 1px solid #ccc;
      padding-right: 6px;
      margin-right: 2px;
    }
  }
}


@media (max-width: 480px) {
  .glyphicon-sort {
    display: none;
  }
}