{% extends "ShuweeAdminBundle::layout.html.twig" %}

{% block body_classes %}page-content has-sidebar{% endblock %}

{% block navbar -%}
    {% include "ShuweeAdminBundle:Partial:navbar.html.twig" %}
{% endblock %}

{% block page %}
    <div class="row">

        <!-- sidebar -->
        <div id="layer-sidebar" class="col-xs-5 col-sm-4 col-md-2 sidebar-offcanvas" role="navigation">
            {{ knp_menu_render('ShuweeAdminBundle:Builder:sideMenu', {'currentClass': 'active', 'template': 'ShuweeAdminBundle:Menu:knp_menu_sidebar.html.twig'}) }}
        </div>

        <div id="layer-content" class="col-xs-7 col-sm-8 col-md-10 col-md-offset-2">
            <div class="wrapper">
                {% set has_header_title = block('header_title') %}
                {% if has_header_title is not empty %}
                    <h1>{% block header_title -%}{% endblock %}</h1>
                {% endif %}

                {% include "ShuweeAdminBundle:Partial:flash.html.twig" %}

                {% set has_action_links = block('action_links') %}
                {% if has_action_links is not empty %}
                    <div class="inner-navigation">
                        <div class="btn-group">
                            {% block action_links -%}{% endblock %}
                        </div>
                    </div>
                {% endif %}

                <div id="layer-content-body">
                    {% block body -%}
                    {% endblock %}
                </div>
            </div>

            {% block footer -%}
                <!-- footer -->
                <footer>
                    {% include "ShuweeAdminBundle:Partial:footer.html.twig" %}
                </footer>
            {% endblock %}
        </div>
    </div>
{% endblock %}
